<!DOCTYPE html>
<html lang="en">


<body>
    <main>
       <h1 >Web service</h1> 
       <div>
          <div >
              <div >
                  <div >
                
                <form action="/" method="POST">
                    <div>
                        <input type="text" placeholder="temperature" name="temperature" ="form-control" autofocus>
                    </div>
                    
                    <div >
                        <input type="text" placeholder="Timesnap" name="timeup" ="form-control" autofocus>
                    </div>

                    <div >
                        <button type="submit" ="btn btn-primary btn-block">
                            Guardar
                        </button> </div>
                </form>
                
    </main>
</body>
</html>